<header class="toolbar toolbar-header" id = "product" >
  <h1 class="title">Transaction</h1>
</header>
<div class = "container-fluid">
	<div class = "row">
		<center><button class="btn btn-large btn-primary" id = 'get'>GET</button></center>
	</div>
	<a class="nav-group-item active" id = "electronics">
    <span class="icon icon-credit-card"></span>
    TRANSACTION
  	</a>
	<!-- <div class = "row"><centre>Transaction History</centre></div> -->
</div>

<div class="container-fluid" >
	<textarea class="form-control" rows="6" id = "show"></textarea>
	</div>